<!-- THIS PORTION OF THE OVERVIEW IS CONNECTED TO PIANO.CSS, NOT ITS OWN CSS -->

<!DOCTYPE html>
<html lang="en" ng-app="pianoApp">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco|Stalemate' rel='stylesheet' type='text/css'>
    <script src="wad.js"></script>
    <title>gSharp</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
    <script src="piano.js"></script>
    <link rel="stylesheet" href="/piano.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script src="underscoreFactory.js"> </script>
    <title>gSharp</title>
  </head>


  <body ng-controller="pianoController"  ng-keydown="keyboardPlay($event, true)" ng-keyup="keyboardPlay($event, false)">

    <div class="title">
      &#9733;  G Sharp  &#9733;
    </div>


    <div class="emptyWhiteBox"></div>
    <div class="otherEmptyBox"></div>



    <div class="navigator">
      <a href="/overview">
        <button class="button">overview</button>
      </a>
      <a href="/reference">
        <button class="button">reference</button>
      </a>
      <a href="/game">
        <button class="button">game</button>
      </a>
    </div>

    <div class="otherEmptyBox"></div>
    <div class="emptyWhiteBox"></div>


    <div class="instructions"> 
    	<p>There's the old # again!
    	</p>
    </div>

    <div class="otherEmptyBox"></div>

    <img class="noteOnStaff" src="http://i.imgur.com/ciHu9lG.jpg?1">

    <div class="spaceBox"></div>



    <div id = "keyboard">
      <div class="keys">
        <div id="C4" class="whiteKey" ng-click="play('C4')" ng-class="{colorChange: active['C4']}"></div>
        <div id="cSharp" class="blackKey" ng-click="play('C#4')" ng-class="{colorChange: active['C#4']}"> </div>
        <div id="D4" class="whiteKey" ng-click="play('D4')" ng-class="{colorChange: active['D4']}"></div>
        <div id="dSharp" class="blackKey" ng-click="play('D#4')" ng-class="{colorChange: active['D#4']}"> </div>
        <div id="E4" class="whiteKey" ng-click="play('E4')" ng-class="{colorChange: active['E4']}"></div>
        <div id="F4" class="whiteKey" ng-click="play('F4')" ng-class="{colorChange: active['F4']}"></div>
        <div id="fSharp" class="blackKey" ng-click="play('F#4')" ng-class="{colorChange: active['F#4']}"> </div>
        <div id="G4" class="whiteKey" ng-click="play('G4')" ng-class="{colorChange: active['G4']}"></div>
        <div id="gSharp" class="blackKey" ng-click="play('G#4')" ng-class="{colorChange: active['G#4']}"> G# </div>
        <div id="A4" class="whiteKey" ng-click="play('A4')" ng-class="{colorChange: active['A4']}"></div>
        <div id="aSharp" class="blackKey" ng-click="play('A#4')" ng-class="{colorChange: active['A#4']}"> </div>
        <div id="B4" class="whiteKey" ng-click="play('B4')" ng-class="{colorChange: active['B4']}"></div>
        <div id="C5" class="whiteKey" ng-click="play('C5')" ng-class="{colorChange: active['C5']}"> </div>
      </div>
    </div>


    <div class = "spaceBox"></div>

    <div class = "instructions"> If you want to use your keyboard, you can play G# with the <strong>I</strong> key! <div>


    <div class = "spaceBox"></div>

    <a href="/a"><button class="next">next >></button><a>

    <div class = "bottomBox"></div>

  </body>
</html>
<body>

</body>
</html>